{% extends 'base_list.html' %}
{% block title %}所有备件{% endblock %}
{% block h1_title %}所有备件{% endblock %}
{% block h2_title %}备件管理{% endblock %}
{% block h3_title %}
    <li class="breadcrumb-item active">所有备件</li>
{% endblock %}
{% block device_show %}show{% endblock %}
{% block all_devices_active %}class="active"{% endblock %}

{% block content %}

  <!-- ======= 头部按钮 ======= -->
<div class="row">
    <div class="col-8">
                    <b>排序 : - </b>
                    <a href="{% url 'device:device_list' %}?search={{ search }}&orderby=id">ID</a>  |
                    <a href="{% url 'device:device_list' %}?search={{ search }}&orderby=-created_time">入库时间</a> |
                    <a href="{% url 'device:device_list' %}?search={{ search }}&orderby=-last_time">出库时间</a> |
    </div>
    <div class="col-4">
        <form class="d-flex">
            <input class="form-control" type="text" placeholder="请输入SN或出库人进行查找" name="search" value={{ search }}>
            <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
        </form>
    </div>
</div>
<br>

  <!-- ======= 表格 ======= -->
<div class="table-responsive ">
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">型号</th>
        <th scope="col">序列号</th>
        <th scope="col">状态</th>
        <th scope="col">入库人</th>
        <th scope="col">入库时间</th>
        <th scope="col">出库人</th>
        <th scope="col">出库时间</th>
        <th scope="col">相关工单</th>
      </tr>
    </thead>
    <tbody>
      {% for d in devices %}
      <tr>
        <td>{{ d.id }}</td>
        <td>{{ d.sku }}</td>
        <td>{{ d.sn|default_if_none:'-' }}</td>
        {% if d.status == 1 %}
        <td><span class="badge rounded-pill bg-primary">入库</span></td>
        {% elif d.status == 2 %}
        <td><span class="badge rounded-pill bg-success">使用</span></td>
        {% elif d.status == 3 %}
        <td><span class="badge rounded-pill bg-danger">损坏</span></td>
        {% elif d.status == 4 %}
        <td><span class="badge rounded-pill bg-secondary">退货</span></td>
        {% endif %}
        <td>{{ d.stock_in }}</td>
        <td>{{ d.created_time }}</td>
        <td>{{ d.stock_out|default_if_none:'-' }}</td>
        <td>{{ d.last_time|default_if_none:'-' }}</td>
        {% if d.case == None %}
        <td>-</td>
        {% else %}
        <td><a href="/case/detail/{{ d.case.id }}">{{ d.case }}</a></td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
</table>
</div>
  <!-- ======= 页码 ======= -->
<ul class="pagination justify-content-center">

{#    上一页#}
    {% if devices.has_previous %}
  <li class="page-item"><a class="page-link" href="?page={{ devices.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
    {% else %}
  <li class="page-item disabled"><a class="page-link" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
    {% endif %}

{#    全部页码#}
    {% for page_num in devices.paginator.page_range %}
        {% if devices.number == page_num %}
  <li class="page-item active"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
        {% else %}
  <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
        {% endif %}
    {% endfor %}

{#    下一页#}
    {% if devices.has_next %}
  <li class="page-item"><a class="page-link" href="?page={{ devices.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
    {% else %}
  <li class="page-item disabled"><a class="page-link" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
    {% endif %}

</ul>

{% endblock %}