{% extends 'base.html' %}
{% block title %}入库备件{% endblock %}
{% block h1_title %}入库备件{% endblock %}
{% block h2_title %}备件管理{% endblock %}
{% block h3_title %}<li class="breadcrumb-item"><a href="{% url 'device:sku_list' %}">备件型号</a></li>{% endblock %}
{% block h4_title %}<li class="breadcrumb-item active">入库备件</li>{% endblock %}
{% block device_show %}show{% endblock %}
{% block font2_active %}active{% endblock %}
{% block all_device_active %}class="active"{% endblock %}

{% block content %}

<form method="post">
{% csrf_token %}
SN<input name="sn" class="text">
<button>入库</button>
</form>
{% endblock %}