{% extends 'base.html' %}

{% block content %}

    <section class="section profile">
      <div class="row">
        <div class="col-xl-12">
          <div class="card">
            <div class="card-body pt-3">
              <!-- Order Detail Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">编辑订单</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">订单详情</h5>

                    {% block value %}{% endblock %}
                    {% block table %}{% endblock %}
                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Order Edit Form -->
                  <form method="post">
                    {% block edit %} {% endblock %}
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form><!-- End Profile Edit Form -->
            </div>
          </div>
            </div>

        </div>
      </div>
      </div>
    </section>


{% endblock %}
