{% extends 'base.html' %}
{% block title %}所有工单{% endblock %}
{% block h1_title %}所有工单{% endblock %}
{% block h2_title %}工单管理{% endblock %}
{% block h3_title %}
    <li class="breadcrumb-item active">所有工单</li>
{% endblock %}
{% block case_show %}show{% endblock %}
{% block font2_active %}active{% endblock %}
{% block all_case_active %}class="active"{% endblock %}
{% block new %}<div><a href="/case/new_case"><button type="button" class="btn btn-outline-primary">+ 新建</button></a></div>{% endblock %}

 {% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">优先级</th>
        <th scope="col">工单编号</th>
        <th scope="col">服务类型</th>
        <th scope="col">位置</th>
        <th scope="col">设备</th>
        <th scope="col">SN</th>
        <th scope="col">登记人</th>
        <th scope="col">处理人</th>
        <th scope="col">派单时间</th>
        <th scope="col">状态</th>
      </tr>
    </thead>
    <tbody>
      {% for case in cases %}
      <tr>
        {% if case.level == 3 %}
        <td><span class="badge bg-success">普通</span></td>
        {% elif case.level == 2 %}
        <td><span class="badge bg-warning">一般</span></td>
        {% elif case.level == 1 %}
        <td><span class="badge bg-danger">紧急</span></td>
        {% endif %}
        <td><a href="detail/{{ case.id }}"> {{ case.num }}</a>

        {% if case.type == 1 %}
        <td><i class="ri-tools-fill"></i> 硬件服务</td>
        {% elif case.type == 2 %}
        <td><i class="ri-phone-fill"></i> 技术支撑</td>
        {% endif %}

        <td>{{ case.area }}</td>
        <td>{{ case.server.manufacturer }}{{ case.server.name }}</td>
        <td>{{ case.server.sn }}</td>
        <td>{{ case.register }}</td>
        <td>{{ case.handler }}</td>
        <td>{{ case.create_time | date:"Y-m-d H:i:s"}}</td>
        {% if case.status == 1 %}
        <td><i class="bi bi-info-circle me-1 text-warning"></i>审批中</td>
        {% elif case.status == 2 %}
        <td><i class="bi bi-collection me-1 text-info"></i>处理中</td>
        {% elif case.status == 3 %}
        <td><i class="bi bi-check-circle me-1 text-success"></i>已完成</td>
        {% elif case.status == 4 %}
        <td><i class="bi bi-exclamation-octagon me-1 text-danger"></i>已超时</td>
        {% elif case.status == 5 %}
        <td><i class="ri ri-recycle-line me-1"></i>已退单</td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
</table>

{#     页码#}
<ul class="pagination justify-content-center">

{#    上一页#}
    {% if cases.has_previous %}
  <li class="page-item"><a class="page-link" href="?page={{ cases.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
    {% else %}
  <li class="page-item disabled"><a class="page-link" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
    {% endif %}

{#    全部页码#}
    {% for page_num in cases.paginator.page_range %}
        {% if cases.number == page_num %}
  <li class="page-item active"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
        {% else %}
  <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
        {% endif %}
    {% endfor %}

{#    下一页#}
    {% if cases.has_next %}
  <li class="page-item"><a class="page-link" href="?page={{ cases.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
    {% else %}
  <li class="page-item disabled"><a class="page-link" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
    {% endif %}

</ul>


 {% endblock %}