{% extends 'base.html' %}
{% block title %}控制面板{% endblock %}
{% block h1_title %}控制面板{% endblock %}
{% block h2_title %}控制面板{% endblock %}
{% block font1_active %}active{% endblock %}

{% block content %}

<section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>筛选</h6>
                    </li>
                    <li><a class="dropdown-item" href="#">本月</a></li>
                    <li><a class="dropdown-item" href="#">今年</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">工单数 <span>| 本月</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="ri-article-line"></i>
                    </div>
                    <div class="ps-3">
                      <h6>28</h6>
                      <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>筛选</h6>
                    </li>
                    <li><a class="dropdown-item" href="#">本月</a></li>
                    <li><a class="dropdown-item" href="#">今年</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">备件使用 <span>| 本月</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="ri-hard-drive-2-line"></i>
                    </div>
                    <div class="ps-3">
                      <h6>33</h6>
                      <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Revenue Card -->

            <!-- Customers Card -->
            <div class="col-xxl-4 col-xl-12">

              <div class="card info-card customers-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>筛选</h6>
                    </li>
                    <li><a class="dropdown-item" href="#">本月</a></li>
                    <li><a class="dropdown-item" href="#">今年</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">采购订单 <span>| 本月</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3">
                      <h6>12</h6>
                      <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span>

                    </div>
                  </div>

                </div>
              </div>

            </div><!-- End Customers Card -->

            <!-- Reports -->
            <div class="col-12">
              <div class="card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>筛选</h6>
                    </li>
                    <li><a class="dropdown-item" href="#">本月</a></li>
                    <li><a class="dropdown-item" href="#">今年</a></li>
                  </ul>
                </div>
            <div class="card-body">
              <h5 class="card-title">工单数 <span>| 本月</span></h5>

              <!-- Line Chart -->
              <div id="lineChart" style="min-height: 400px;" class="echart"></div>

              <script>

                document.addEventListener("DOMContentLoaded", () => {
                  echarts.init(document.querySelector("#lineChart")).setOption({
                    tooltip: {
                        trigger: 'axis'
                      },
                    legend: {
                        data: ['工单数', '已处理', '处理中']
                      },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                      },
                     toolbox: {
                        feature: {

                        }
                      },
                     xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']
                      },
                     yAxis: {
                        type: 'value'
                      },
                     series: [
                        {
                          name: '工单数',
                          type: 'line',

                          data: {{ all_data }}
                        },
                        {
                          name: '已处理',
                          type: 'line',

                          data: {{ solved_data }}
                        },
                        {
                          name: '处理中',
                          type: 'line',

                          data: {{ processing_data }}
                        },
                      ]
                  });
                });
              </script>
              <!-- End Line Chart -->

            </div>

              </div>
            </div><!-- End Reports -->

          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

          <!-- Website Traffic -->
          <div class="card">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div>

            <div class="card-body pb-0">
              <h5 class="card-title">备件使用情况 <span>| 今年</span></h5>

              <div id="trafficChart" style="min-height: 400px;" class="echart"></div>

              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  echarts.init(document.querySelector("#trafficChart")).setOption({
                    tooltip: {
                      trigger: 'item'
                    },
                    legend: {
                      top: '5%',
                      left: 'center'
                    },
                    series: [{
                      name: 'Access From',
                      type: 'pie',
                      radius: ['40%', '70%'],
                      avoidLabelOverlap: false,
                      label: {
                        show: false,
                        position: 'center'
                      },
                      emphasis: {
                        label: {
                          show: true,
                          fontSize: '18',
                          fontWeight: 'bold'
                        }
                      },
                      labelLine: {
                        show: false
                      },
                      data: [{
                          value: 555,
                          name: '硬盘'
                        },
                        {
                          value: 234,
                          name: '内存'
                        },
                        {
                          value: 222,
                          name: '电源'
                        },
                        {
                          value: 100,
                          name: '主板'
                        },
                        {
                          value: 300,
                          name: '其他'
                        }
                      ]
                    }]
                  });
                });
              </script>

            </div>
          </div><!-- End Website Traffic -->

        </div><!-- End Right side columns -->

      </div>
    </section>

{% endblock %}