{% extends 'base.html' %}
{% block title %}所有备件{% endblock %}
{% block h1_title %}所有备件{% endblock %}
{% block h2_title %}备件管理{% endblock %}
{% block h3_title %}
    <li class="breadcrumb-item active">所有备件</li>
{% endblock %}
{% block device_show %}show{% endblock %}
{% block all_device_active %}class="active"{% endblock %}
{% block new %}<div><a href="/case/project/new_project"><button type="button" class="btn btn-outline-primary">+ 新建</button></a></div>{% endblock %}

 {% block content %}
{#     备件列表#}
<table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">名称</th>
                    <th scope="col">型号（P/N）</th>
                    <th scope="col">序列号（S/N）</th>
                    <th scope="col">入库时间</th>
                    <th scope="col">出库时间</th>
                    <th scope="col">状态</th>
                    <th scope="col">厂家</th>
                  </tr>
                </thead>
                <tbody>
                  {% for device in devices %}
                  <tr>
                    <th scope="row"><a href="{{ deice.id }} "> {{ deice.id }} </a></th>
                    <td>{{ device.name }}</td>
                    <td>{{ device.pn }}</td>
                    <td>{{ device.sn }}</td>
                    <td>{{ device.created_time }}</td>
                    <td>{{ device.last_time }}</td>
                    {% if device.status == 1 %}
                    <td>入库</td>
                    {% elif device.status == 2 %}
                    <td>使用</td>
                    {% elif device.status == 3 %}
                    <td>损坏</td>
                    {% elif device.status == 4 %}
                    <td>退货</td>
                    {% endif %}
                    <td>{{ device.manufacturer }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>

     
{#     页码#}
<ul class="pagination justify-content-center">

{#    上一页#}
    {% if devices.has_previous %}
  <li class="page-item"><a class="page-link" href="?page={{ devices.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
    {% else %}
  <li class="page-item disabled"><a class="page-link" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
    {% endif %}

{#    全部页码#}
    {% for page_num in devices.paginator.page_range %}
        {% if devices.number == page_num %}
  <li class="page-item active"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
        {% else %}
  <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
        {% endif %}
    {% endfor %}

{#    下一页#}
    {% if devices.has_next %}
  <li class="page-item"><a class="page-link" href="?page={{ devices.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
    {% else %}
  <li class="page-item disabled"><a class="page-link" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
    {% endif %}

</ul>
     
 {% endblock %}