{% extends 'base.html' %}
{% block title %}新建订单{% endblock %}
{% block h1_title %}新建订单{% endblock %}
{% block h2_title %}采购管理{% endblock %}
{% block h3_title %}<li class="breadcrumb-item"><a href="/order">所有订单</a></li>{% endblock %}
{% block h4_title %}<li class="breadcrumb-item active">新建订单</li>{% endblock %}
{% block order_show %}show{% endblock %}
{% block font2_active %}active{% endblock %}
{% block all_order_active %}class="active"{% endblock %}
{% block content %}
<form class="row g-3" method="post">
{% csrf_token %}
  <div class="col-md-2">
    <label for="validationDefault04" class="form-label">备件类型</label>
    <select class="form-select" id="validationDefault04" name="type_id" required>
      {% for type in types %}
      <option value="{{ type.id }}">{{ type.name }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="col-md-9">
    <label for="validationDefault04" class="form-label">备件型号规格</label>
    <select class="form-select" id="validationDefault04" name="device_id" required>
      {% for spec in specs %}
      <option value="{{ spec.id }}">{{ spec.pn }} {{ spec.spec }}</option>
       {% endfor %}
    </select>
  </div>

    <div class="col-md-1">
      <label for="inputEmail5" class="form-label">采购数量</label>
      <input type="number" class="form-control" name="count" value="1">
    </div>

  <div class="col-md-12">
    <label for="validationDefault04" class="form-label">相关项目</label>
    <select class="form-select" id="validationDefault04" name="project_id" required>
      {% for project in projects %}
      <option value="{{ project.id }}">{{ project.project_name }}（{{ project.project_num }}）</option>
      {% endfor %}
    </select>
  </div>

  <div class="col-md-10">
    <label for="validationDefault04" class="form-label">收货地址</label>
    <select class="form-select" id="validationDefault04" name="address_id" required>
      {% for ad in address %}
      <option value="{{ ad.id }}">{{ ad.address }}（{{ ad.addressee }}：{{ ad.addressee.mobile }}）</option>
      {% endfor %}
    </select>
  </div>

  <div class="col-12">
    <button class="btn btn-primary" type="submit">新建采购订单</button>
  </div>
</form>
{% endblock %}