{% extends 'base_edit.html' %}

{% block title %}订单详情-{{ order.order_num }}{% endblock %}
{% block h1_title %}订单详情-{{ order.order_num }}{% endblock %}
{% block h2_title %}采购管理{% endblock %}
{% block h3_title %}
    <li class="breadcrumb-item active"><a href="/order">所有订单</a></li>
{% endblock %}
{% block h4_title %}<li class="breadcrumb-item active">{{ order.order_num }}</li>{% endblock %}
{% block order_show %}show{% endblock %}
{% block font2_active %}active{% endblock %}
{% block all_order_active %}class="active"{% endblock %}

{% block value %}

<div class="row">
    <div class="col-lg-1 col-md-1 label ">创建时间</div>
    <div class="col-lg-3 col-md-3">{{ order.create_time| date:'Y-m-d H:m:s' }}</div>
    <div class="col-lg-1 col-md-1 label ">订单编号</div>
    <div class="col-lg-3 col-md-3">{{ order.order_num }}</div>
    <div class="col-lg-1 col-md-1 label ">相关工单</div>
    <div class="col-lg-3 col-md-3"><a href="/case/{{ order.case.pk }}">{{ order.case }}</a></div>
</div>

<div class="row">
    <div class="col-lg-1 col-md-1 label ">备件类型</div>
    <div class="col-lg-3 col-md-3">{{ order.type }}</div>
    <div class="col-lg-1 col-md-1 label ">备件型号</div>
    <div class="col-lg-3 col-md-3">{{ order.device }}</div>
    <div class="col-lg-1 col-md-1 label ">备件规格</div>
    <div class="col-lg-3 col-md-3">{{ order.device.spec }}</div>
</div>

<div class="row">
    <div class="col-lg-1 col-md-1 label ">采购人</div>
    <div class="col-lg-3 col-md-3">{{ order.order_name }}</div>
    <div class="col-lg-1 col-md-1 label ">相关项目</div>
    <div class="col-lg-7 col-md-7">{{ order.project }} ({{ order.project.project_num }})</div>
</div>

<div class="row">
    <div class="col-lg-1 col-md-1 label ">物流公司</div>
    <div class="col-lg-3 col-md-3">{{ order.track }}</div>
    <div class="col-lg-1 col-md-1 label ">物流单号</div>
    <div class="col-lg-3 col-md-3">{{ order.track_num }}</div>
    <div class="col-lg-1 col-md-1 label ">状态</div>
    <div class="col-lg-3 col-md-3">{{ order.track_status }}</div>
</div>

{% endblock %}

{% block edit %}

<div class="row mb-3">
  <label for="fullName" class="col-md-1 col-lg-1 col-form-label">物流公司</label>
  <div class="col-md-3 col-lg-3">
    <input name="fullName" type="text" class="form-control" id="fullName" value="Kevin Anderson">
  </div>
  <label for="fullName" class="col-md-1 col-lg-1 col-form-label">物流单号</label>
  <div class="col-md-3 col-lg-3">
    <input name="fullName" type="text" class="form-control" id="fullName" value="Kevin Anderson">
  </div>
  <label for="fullName" class="col-md-1 col-lg-1 col-form-label">物流状态</label>
  <div class="col-md-3 col-lg-3">
    <input name="fullName" type="text" class="form-control" id="fullName" value="Kevin Anderson">
  </div>
</div>

{% endblock %}